<ion-view ng-controller="homeViewController" class="homeBackground">
    <div style="margin-top: 20%; margin-left: 30%; height: 100%;">
        <img src="img/ProfessorWand.png" style="display: block; height: 15%; border:dashed;" ui-sref="state_ProfessorViewDisplayed" ng-click="playDoorSound()"/>

        <img src="img/UpgradePotion.png" style="display: block; height: 15%; margin-top: 20%; border:dashed;" ui-sref="state_TraderViewDisplayed" ng-click="playDoorSound()"/>
		
		<img src="img/KettleMinigame.png" style="display: block; height: 18%; margin-top: 20%; border:dashed;" ui-sref="state_KettleMinigameViewDisplayed" />		
    </div>
</ion-view>
