<ion-view ng-controller="homeViewController">
    <div style="margin-top: 30%; margin-left: 20%">
        <button style="display: block; height: 50px; width: 80%; margin-top: 2%" ui-sref="state_ProfessorViewDisplayed">
            Professor
        </button>

        <button style="display: block; height: 50px; width: 80%; margin-top: 2%" ui-sref="state_TraderViewDisplayed">
            Trader
        </button>

        <button style="display: block; height: 50px; width: 80%; margin-top: 2%" ui-sref="state_TestViewDisplayed">
            Test
        </button>
    </div>
</ion-view>
