<ion-view ng-controller="minigameViewController" class="homeBackground">
    <div style="margin-top: 20%; margin-left: 30%; height: 100%;">
		<img src="img/Crosshair.png" style="display: block; height: 15%; margin-top: 20%; border:dashed;" ui-sref="state_PotionCollectMinigameViewDisplayed" />
		
		<img src="img/ShootMinigame.png" style="display: block; height: 15%; margin-top: 20%; border:dashed;" ui-sref="state_ShootMinigameViewDisplayed" />
		
		<img src="img/KettleMinigame.png" style="display: block; height: 15%; margin-top: 20%; border:dashed;" ui-sref="state_KettleMinigameViewDisplayed" />
    </div>
</ion-view>