<ion-view ng-controller="potionDiscoveryViewController">   
    <div style="width: 100%; min-height: 100%; height: 100%;" ng-click="potionOfTouchIsDiscoveredFunction()">        
        <!-- ng-show is workaround, ng-src with an empty path wont remove the image, when ng-show = false it is not shown-->
        <img ng-src="img/{{potion.image}}" ng-show="potion.image" style="margin-top:100px; margin-left:auto; margin-right:auto; display: block" />
        <h1 align="center">{{potion.name}}</h1>
        <p align="center">{{potion.description}}</p>
    </div>   
</ion-view>