<!-- The home view, only displays the ionic logo-->
<ion-view ng-controller="homeViewController" class="professor">
    <div>
        <div style="margin-top: 10%; margin-left: 70%; height: 100%">
            <img src="img/UpgradePotion.png" style="display: block; width: 70%; margin-top: 10%;" ui-sref="state_UpgradePotionViewDisplayed" />
            <img src="img/SolveQuest.png" style="display: block; width: 70%; margin-top: 20%;" ui-sref="state_OpenQuestsViewDisplayed"/>
            <img src="img/ListOfQuests.png" style="display: block; width: 70%; margin-top: 20%;" ui-sref="state_QuestViewDisplayed">
            <img src="img/DiscoveryModus.png" style="display: block; width: 70%; margin-top: 20%;" ui-sref="state_PotionDiscoveryViewDisplayed">
        </div>
    </div>
</ion-view>
