<!-- The home view, only displays the ionic logo-->
<ion-view ng-controller="homeViewController">
     <div style="margin-top: 30%; margin-left: 20%">
         <button style="display: block; height: 50px; width: 80%; margin-top: 2%" ">
             Upgrade Potion
         </button>
         <button style="display: block; height: 50px; width: 80%; margin-top: 2%"">
             Solve Quest 
         </button>
          <button style="display: block; height: 50px; width: 80%; margin-top: 2%" ui-sref="state_QuestViewDisplayed">
            List of Quests
        </button>
    </div>
</ion-view>
