<ion-view ng-controller="traderViewController" class="homeBackground" style="height: 100%">   
    <img src="img/{{traderImage || 'Trader.png'}}" style="width:100%; margin-bottom: 0;">
    <h3 style="margin-left: 40%;"> {{user.AmountOfGold}} <img src="img/Gold.png" style="height: 1em;" /></h3>
    

    <ion-scroll direction="x" style="width: 80%; white-space: nowrap; height: 15%; margin-left:10%;">
        <img src="img/Buy.png" style="background-color:{{buyColor || '#c8c8c8'}}; width:40%; border: solid;" ng-click="showPotionsToBuy()" />
        <img src="img/Sell.png" style="background-color:{{sellColor || '#c8c8c8'}}; width:40%; margin-left: 2%; border: solid;" ng-click="showAllUserpotions()" />
        <img src="img/BuyItem.png" style="background-color:{{buyItemColor || '#c8c8c8'}}; width:40%; margin-left: 2%; border: solid;" ng-click="showItemsToBuy()" />
        <img src="img/SellItem.png" style="background-color:{{sellItemColor || '#c8c8c8'}}; width:40%; margin-left: 2%; border: solid;" ng-click="showAllUserItems()" />
    </ion-scroll>

        <ion-scroll overflow-scroll="true" zooming="true" direction="y" style="width: 100%; height: 40%; display: {{displayBuyPotionList}};">
            <a ng-repeat="potion in potionsToBuy | orderBy:'Class' " class="item item-thumbnail-left" style="margin-left:5%; margin-right:5%; margin-top:5%; border: none; border-bottom:groove;" ng-click="buyPotion(potion)">
                <img src="img/{{potion.ImageFilename}}">
                <h2>{{potion.Name}}</h2>
                <p>{{potion.Description}}</p>
                <p>Rank: {{potion.Rank}}</p>
                <p>Price: {{potion.Price}}</p>
            </a>
        </ion-scroll>

        <ion-scroll overflow-scroll="true" zooming="true" direction="y" style="width: 100%; height: 40%; display: {{displaySellPotionList}};">
            <a ng-repeat="potion in user.OwnedPotions | orderBy:'Class' " class="item item-thumbnail-left" style="margin-left:5%; margin-right:5%; margin-top:5%; border: none; border-bottom:groove;" ng-click="sellPotion(potion)">
                <img src="img/{{potion.ImageFilename}}">
                <h2>{{potion.Amount + ' ' + potion.Name}}</h2>
                <p>{{potion.Description}}</p>
                <p>Rank: {{potion.Rank}}</p>
                <p>Price: {{potion.Price}}</p>
            </a>
        </ion-scroll>

    <ion-scroll overflow-scroll="true" zooming="true" direction="y" style="width: 100%; height: 40%; display: {{displayBuyItemList}};">
        <a ng-repeat="itemClass in itemClassesToBuy | orderBy:'-Class'" class="item item-thumbnail-left" style="margin-left:5%; margin-right:5%; margin-top:5%; border: none; border-bottom:groove;" ng-click="showBuyItemAreYouSurePopup(itemClass)">
            <img src="img/{{itemClass.ImageFilename}}">
            <h2>{{itemClass.Name}}</h2>
            <p>Price: {{itemClass.Price}}</p>
        </a>
    </ion-scroll>

    <ion-scroll overflow-scroll="true" zooming="true" direction="y" style="width: 100%; height: 40%; display: {{displaySellItemList}};">
        <a ng-repeat="item in user.OwnedItems | orderBy:'Class' " class="item item-thumbnail-left" style="margin-left:5%; margin-right:5%; margin-top:5%; border: none; border-bottom:groove; background-color:{{item.BackgroundColor}}" ng-click="showSellItemAreYouSurePopup(item)">
            <img src="img/{{item.ImageFilename}}">
                 <h2>Price: {{item.Price}}</h2>     
                 <h4>+ {{item.ChanceExtraPotionOnUpgrade}}% chance for extra potion on upgrade</h4>
                 <h4>+ {{item.DiscoveryCDReductionPercentage}}% discovery cooldown reduction</h4>
                 <h4>+ {{item.TraderDiscountPercentage}}% trader discount</h4>
                 <h4>+ {{item.ExtraPotionOnQuest}} potion per solved quest</h4>
                 <h4>+ {{item.ExtraGoldOnDiscovery}} extra gold on discovery</h4>
        </a>
    </ion-scroll>
</ion-view>