<ion-view ng-controller="upgradePotionViewController" class="homeBackground">
    <div style="margin-top:10%; height: 100%;">
        <img src="img/{{selectedPotionImage || 'UnselectedPotion.png'}}" style="height: 15%; margin-left:15%" ng-click="showPotionSelectPopup()"/>
        <img src="img/{{selectedPotionImage || 'UnselectedPotion.png'}}" style="height: 15%; margin-left:20%" ng-click="showPotionSelectPopup()"/>
        <!-- ng-show is workaround, ng-src with an empty path wont remove the image, when ng-show = false it is not shown-->
        <img src="img/{{resultPotionImageFilename}}" ng-show="resultPotionImageFilename" style="height: 15%; margin-left:41%; margin-top: 10%;"/>
        <img src="img/{{okImageFilename}}" ng-show="okImageFilename" style="height: 20%; margin-left:30%; margin-top: 20%; border: dashed;" ng-click="upgradePotion()" />
    </div>
</ion-view>