/* Empty. Add your own CSS if you like */

.homeBackground {
    background: url('../img/Background.png') no-repeat; 
    position: absolute; 
    height: 100%; 
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: 50% 50%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    background-size: cover;
}

.professor {
    background: url('../img/Professor.png') no-repeat;
    position: absolute; 
    height: 100%; 
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: 50% 50%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    background-size: cover;
}

.itemSlot {
    background: url('../img/EmptyItemSlot.png') no-repeat;
    position: absolute; 
    height: 100%; 
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: 50% 50%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    background-size: cover;
}

/* is not our app item, but an element in a scroll list*/
.item{
	background-color: #C8C8C8;
}